@import'../style/Vars.scss';
body {
    text-align: center;
    background: $main-color;
    font-family: $theme-font;
}

* {
    box-sizing: border-box;
}

.header {
    align-items: center;
    background-color: #0000;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}