@import'../Vars.scss';
body {
    margin: 0;
    font-family: $theme-font;
    background: #fff;
}

* {
    box-sizing: border-box;
}

.header {
    align-items: center;
    background-color: #0000;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    height: 50px;
    width: 50px;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 2));
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 2));
}

@media only screen and (max-width: 600px) {
    .main__description--title {
        font-size: 30px;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}